body {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: $font-family;
	line-height: $line-height;
}

*, *:before, *:after {
	box-sizing: inherit;
}