// font settings
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$line-height: 1.5 !default;

// container settings
$container-width: 1140px !default;

// grid settings
$columns-max: 8 !default;

$form-background-color: #fff !default;
$form-border-color: #ccc !default;
$form-border-color-active: darken($form-border-color, 33%) !default;

$color-primary: #ccc !default;

$color-success: #10ff00 !default;
$color-warning: #ffee00 !default;
$color-danger: #ff4300 !default;