// font settings
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$line-height: 1.5 !default;

// container settings
$container-width: 1140px !default;

// grid settings
$columns-max: 8 !default;

$input-border-color: #ccc !default;
$input-border-color-active: #777 !default;